/* SETUP SNIPET */
html{line-height:1.15;-ms-text-size-adjust:100%;-webkit-text-size-adjust:100%}body{margin:0}article,aside,footer,header,nav,section{display:block}h1{font-size:2em;margin:.67em 0}figcaption,figure,main{display:block}figure{margin:1em 40px}hr{box-sizing:content-box;height:0;overflow:visible}pre{font-family:monospace,monospace;font-size:1em}a{background-color:transparent;-webkit-text-decoration-skip:objects}abbr[title]{border-bottom:none;text-decoration:underline;text-decoration:underline dotted}b,strong{font-weight:inherit}b,strong{font-weight:bolder}code,kbd,samp{font-family:monospace,monospace;font-size:1em}dfn{font-style:italic}mark{background-color:#ff0;color:#000}small{font-size:80%}sub,sup{font-size:75%;line-height:0;position:relative;vertical-align:baseline}sub{bottom:-.25em}sup{top:-.5em}audio,video{display:inline-block}audio:not([controls]){display:none;height:0}img{border-style:none}svg:not(:root){overflow:hidden}button,input,optgroup,select,textarea{font-family:sans-serif;font-size:100%;line-height:1.15;margin:0}button,input{overflow:visible}button,select{text-transform:none}button,html [type=button],[type=reset],[type=submit]{-webkit-appearance:button}button::-moz-focus-inner,[type=button]::-moz-focus-inner,[type=reset]::-moz-focus-inner,[type=submit]::-moz-focus-inner{border-style:none;padding:0}button:-moz-focusring,[type=button]:-moz-focusring,[type=reset]:-moz-focusring,[type=submit]:-moz-focusring{outline:1px dotted ButtonText}fieldset{padding:.35em .75em .625em}legend{box-sizing:border-box;color:inherit;display:table;max-width:100%;padding:0;white-space:normal}progress{display:inline-block;vertical-align:baseline}textarea{overflow:auto}[type=checkbox],[type=radio]{box-sizing:border-box;padding:0}[type=number]::-webkit-inner-spin-button,[type=number]::-webkit-outer-spin-button{height:auto}[type=search]{-webkit-appearance:textfield;outline-offset:-2px}[type=search]::-webkit-search-cancel-button,[type=search]::-webkit-search-decoration{-webkit-appearance:none}::-webkit-file-upload-button{-webkit-appearance:button;font:inherit}details,menu{display:block}summary{display:list-item}canvas{display:inline-block}template{display:none}[hidden]{display:none}

.clearfix:after {visibility: hidden; display: block; font-size: 0; content: ''; clear: both; height: 0; }

* { -moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box; }

.visuallyHidden:not(:focus):not(:active) { position: absolute; width: 1px; height: 1px; margin: -1px;border: 0;padding: 0;white-space: nowrap;clip-path: inset(100%);clip: rect(00 0 0);overflow: hidden;}

.sr-only { position: absolute; width: 1px; height: 1px; margin: -1px; border: 0; padding: 0; white-space: nowrap; clip-path: inset(100%); clip: rect(0 0 0 0); overflow: hidden;}

.wrapper {
    width: 1280px;
    margin: 0 auto;
}

figure {
    margin: 0;
}

/* FONT SIZE */
html {
    font-size: 62.5%;
    /* default root font size is 16px, 62.5% of which is 10px.*/
}

h1, h2, nav, a, footer button {
    font-family: 'Nova Flat', cursive;
    color: #186684;
}
p, .communication h2, footer input::placeholder, .copyright p {
    font-family: 'Catamaran', sans-serif;
}
h1 {
    font-size: 11rem;
}
h2 {
    font-size: 4.2rem;
    margin: 0;
}
.communication h2 {
    font-size: 3rem;
    margin-top: 30px;
}
nav a, p {
    font-size: 2rem;
    line-height: 29px;
}
header p {
    font-size: 1.8rem;
    color: #F4F4F4;
}
.social-media a {
    font-size: 2.2rem;
    color: #E85B26;
}
p {
    color: #1F2022;
}
a {
    font-size: 1.8rem;
}
footer h2 {
    color: #E85B26;
}
footer p {
    line-height: 0;
}
footer input::placeholder {
    font-size: 18px;
    color: #186684;
}
footer button {
    font-size: 18px;
}
.copyright p {
    font-size: 1.8rem;
    color: #F4F4F4;
}

/* HEADER */
header {
    height: 640px;
    background-image: url(../assets/assets/image-1@2x.png);
    background-size: cover;
    background-repeat: no-repeat;
}
nav ul {
    padding: 20px calc((100% - 380px)/2) 0;
    margin: 0;
}
nav ul li {
    float: left;
    width: 25%;
    text-align: center;
    list-style-type: none;
}
nav ul li a {
    text-decoration: none;
}
nav ul li a:focus, 
nav ul li a:hover {
    color: #E85B26;
}
input#menu {
    display: block;
    position: absolute;
    right: 25px;
    top: 20px;
    height: 50px;
    width: 50px;
    z-index: 1;
    opacity: 0;
    cursor: pointer;
}
header .wrapper {
    width: calc(100% - 100px);
    position: relative;
}
h1 {
    position: absolute;
    top: 150px;
    right: 200px;
    background-color: rgba(227, 228, 234, 0.89);
    width: 480px;
    padding-left: 20px;
}
header p {
    position: absolute;
    bottom: -200px;
    right: 90px;
    padding: 0 10px;
    background-color: #E85B26;
    transform: rotate(333deg);
    transition: transform 1s;
}
.social-media {
    margin-top: 150px;
    width: 30px;
    height: 150px;
    float: right;
}
.social-media a {
    text-decoration: none;
    display: inline-block;
    margin: 5px 0 5px 5px;
}
.social-media a:first-child {
    margin-left: 0;
}
.social-media a:hover,
.social-media a:focus {
    color: #186684;
}

/* ADVERTISEMENT */
.advertisement .text1, 
.advertisement .text2 {
    width: 50%;
    float: left;
}
.advertisement .image1 {
    width: 50%;
    float: right;
}
.advertisement .image2 {
    width: 50%;
    float: left;
}
.advertisement img {
    width: 100%;
}
.advertisement .text1, 
.advertisement .text2 {
    padding: 50px 100px 0;
    height: 480px;
    float: left;
}
.advertisement a {
    text-decoration: none;
    padding: 10px;
    border: 2px solid #E85B26; 
}
.advertisement a:hover,
.advertisement a:focus {
    color: #E85B26;
}

/* GIVING BACK */
.giving-back {
    height: 450px;
    background-color: #F4F4F4;
}
.giving-back .wrapper {
    margin: 0 auto;
    width: calc(100% - 200px);
}
.giving-back img {
    width: 300px;
    padding: 75px 0;
    float: left;
}
.giving-back .text {
    width: 780px;
    padding: 75px 0 75px 25px;
    float: left;
    height: 450px;
}
.giving-back a {
    text-decoration: none;
    padding: 10px;
    border: 2px solid red;
}
.giving-back a:hover,
.giving-back a:focus {
    color: #E85B26;
}

/* COMMUNICATION */
.communication {
    background-image: url(../assets/assets/image-5@2x.png);
    background-size: cover;
    height: 400px;
    padding: 90px 0;
}
.communication .wrapper {
    width: 650px;
    height: 225px;
    padding: 50px;
    margin: 0 auto;
    background-color: #F4F4F4;
}
.communication a {
    float: left;
    margin-right: 50px;
    text-align: center;
    text-decoration: none;
}
.communication a:nth-child(1) {
    width: 150px;
}
.communication a:nth-child(2) {
    width: 150px;
}
.communication a:nth-child(3) {
    width: 150px;
    margin: 0;
}
.communication i {
    font-size: 70px;
    color: #E85B26;
    height: 60px;
    font-weight: 700;
}
.communication a:nth-child(2) i,
.communication a:nth-child(3) i {
    font-size: 50px;
    padding-top: 15px;
}
.communication a:hover i,
.communication a:focus i {
    color: #186684;
}

/* INSTAGRAM */
.instagram .wrapper {
    width: calc(100% - 200px);
    text-align: center;
    padding: 50px 0;
}
.instagram h2 {
    padding-bottom: 50px;
}
.instagram a {
    float: left;
    margin-right: 20px;
    width: calc((100% - 40px) / 3);
}
.instagram img {
    width: 100%;
    border: 5px solid white;
}
.instagram a:hover img,
.instagram a:focus img {
    border: 5px solid #E85B26;
}
.instagram .image a:nth-child(3) {
    margin: 0;
}

/* FOOTER */
footer {
    background-color:#F4F4F4;
}
footer nav {
    padding: 50px 0;
}
footer ul {
    padding-top: 0;
}
footer .wrapper {
    width: calc(100% - 200px);
    padding-bottom: 50px;
}
.contact{
    float: left;
}
.update {
    float: right;
}
.update input {
    float: left;
    width: 400px;
    height: 40px;
    padding: 10px;
    border: 2px solid white;
}
.update button {
    float: left;
    height: 40px;
    padding: 10px 15px;
    border: 2px solid #E85B26;
    background-color: #186684;
    color: white;
}
/* COPYRIGHT */
.copyright {
    width: 100%;
    background-color: #1F2022;
}
.copyright p {
    margin: 0;
    padding: 10px;
    text-align: center;
}

/* SCREEN RESIZE */
@media (max-width: 1280px) {
    .wrapper {
        width: 100vw;
    }
    /* FONT MATTERS */
    html {
        font-size: 45%;
    }
    footer input::placeholder,
    footer button {
        font-size: 15px;
    }
    /* HEADER */
    header p {
        transform: rotate(270deg) translateX(50px);
        transition: transform 1s;
    }
    /* ADVERTISEMENT */
    .advertisement .text1,
    .advertisement .text2 {
        height: calc(50vw*3/4);
    }
    /* GIVING BACK */
    .giving-back img {
        width: calc(100vw * 300 / 1280);
    }
    .giving-back .text {
        height: auto;
        width: calc((100vw * 780 / 1280) - 35px);
    }
}

/* MOBILE DEVICES */
@media (max-width: 1080px) {
    .wrapper {
        width: 100vw;
        overflow: hidden;
    }
    /* FONT MATTERS */
    html {
        font-size: 55%;
    }
    h1 {
        font-size: 8rem;
    }
    h2 {
        font-size: 3.5rem;
    }
    /* HEADERS */
    header {
        position: relative;
        background-size: cover 200%;
        background-position: center; 
        height: 100vh;
    }
    header nav, .social-media {
        position: absolute;
        z-index: 1;
        top: 70px;
        right: 0px;
        height: auto;
        width: 30%;
        max-width: 300px;
        min-width: 200px;
        background-color: #F4F4F4;
        transform: translateX(500px);
        transition: transform 0.5s;
    }
    .social-media {
        text-align: right;
        padding: 10px 25px 10px 0;
        background-color: #E85B26;
    }
    .wrapper .social-media a {
        color: #F4F4F4;
    }
    header ul {
        padding: 20px 25px 20px calc(100% - 105px);
    }
    header ul li {
        width: 80px;
        text-align: right;
    }
    header .wrapper {
        width: 100%;
        height: 100vh;
    }
    /*------------ HAMBURGER ------------*/
    .bars,
    .bars:before,
    .bars:after {
        position: absolute;
        content: "";
        width: 50px;
        height: 5px;
        background-color: #186684;
        border-radius: 5px;
        transition: none;
    }
    .bars {
        top: 25px;
        right: 25px;
    }
    .bars:before {
        top: 15px;
    }
    .bars:after {
        top : 30px;
    }
    #menu:checked ~ .bars {
        transform: rotate(45deg);
        top: 40px;
        transition: transform 0.5s;
    }
    #menu:checked ~ .bars:before {
        transform: rotate(-90deg);
        top: 0;
        transition: transform 0.5s;
    }
    #menu:checked ~ .bars:after {
        top: 0;
    }
    #menu:checked ~ nav,
    #menu:checked ~ .wrapper .social-media {
        overflow: visible;
        transform: translateX(0);
    }
    #menu:checked ~ .wrapper .social-media a:hover,
    #menu:checked ~ .wrapper .social-media a:focus {
        color: #186684;
    }
    /*-----------------------------------*/
    header h1 {
        top: 40vh;
        left: 10vw;
        width: 80vw;
        max-width: 300px;
        padding: 0;
        margin: 0;
    }
    header p {
        transform: rotate(0deg);
        bottom: 0;
        right: 0;
        margin: 0;
    }

    /* ADVERTISEMENT */
    .advertisement .text1, 
    .advertisement .text2 {
       width: 100%;
       height: auto;
    }
    .advertisement .image1,
    .advertisement .image2 {
        width: 100%;
        height: 50vw;
    }
    .advertisement img {
        width: 100%;
        height: 100%;
        object-fit: cover;
    }
    .advertisement .text1, 
    .advertisement .text2 {
        padding: 25px 25px;
        margin: 0 auto 25px;
        text-align: center;
    }

    /* GIVING BACK */
    .giving-back {
        height: auto;
        padding: 50px 0 25px;
    }
    .giving-back .wrapper {
        width: 100%;
    }
    .giving-back .image,
    .giving-back img {
        width: calc(100% - 50px);
        padding-top: 0;
        margin: 0 auto;
    }
    .giving-back .image {
        height: calc(0.95 * (100vw - 50px));
    }
    .giving-back img {
        height: 100%;
        padding-bottom: 25px;
        object-fit: cover;
        object-position: top;
    }
    .giving-back img {
        width: 100%;
    }
    .giving-back .text {
        padding: 25px;
        width: 100%;
        height: auto;
        text-align: center;
    }
    .giving-back p {
        text-align: left;
    }
    .giving-back .text a {
        padding: 10px 50px;
    }

    /* COMMUNICATION */
    .communication {
        height: auto;
    }
    .communication .wrapper {
        width: 200px;
        padding: 25px;
        margin: 0 auto;
        height: 425px;
    }
    /* INSTAGRAM */
    .instagram .wrapper {
        padding: 25px 0;
        width: calc(100% - 50px);
    }
    .instagram h2 {
        padding: 0 0 25px;
    }
    .instagram a {
        width: calc((100% - 20px) / 2);
    }
    .instagram .image a:nth-child(2) {
        margin: 0;
    }
    .instagram .image a:last-child {
        display: none;
    }

    /* FOOTER */
    footer ul {
        padding: 0 25px;
    }
    footer .wrapper {
        width: calc(100% - 50px);
    }
    footer p {
        line-height: 20px;
    }
    .contact { 
        text-align: center;
        float: none;
        padding-bottom: 50px;
    }
    .contact p {
        margin: 0;
    }
    .update {
        text-align: center;
        float: none;
    }
    .update input {
        width: 100%;
    }
    .update input::placeholder {
        text-align: center;
    }
    .update button {
        width: 100%;
    }
}